<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.abratchik.auxdisplay</string>
    <key>Program</key>
    <string>/usr/local/bin/auxdisplay</string>
    <key>WorkingDirectory</key>
    <string>/tmp</string>
    <key>StandardOutPath</key>
    <string>/var/log/auxdisplay.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/auxdisplay.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>